.social {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: $accent-pink-color;
  border-radius: 50%;

  &:hover,
  &:focus {
    color: $accent-red-color;
  }
}

.social__icon {
  fill: currentColor;
}
